Two-factor authentication (2FA) was enabled.

From now on, signing in to {{ product_name }} requires a code from
your authenticator app in addition to your password.

If this wasn't you, change your {{ product_name }} password and
disable 2FA in Security settings immediately.
